.createPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  min-height: calc(100vh - 50px); }

.create__guide {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
  margin-bottom: 20px; }

.gallery__headline {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
  margin-bottom: 20px;
  margin-top: 100px; }

.progress__wrapper {
  width: 90vw; }

.progress__steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.progress__bar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px; }

.progress__bar {
  height: 4px;
  width: 33.3333%;
  background-color: purple; }

.grey {
  background-color: #d4d4d4; }

.canvas__save {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.canvas__controls__shares {
  background-color: #ebebeb;
  width: 100%;
  height: 30%; }

.canvas__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  position: relative; }

.meme__metaData {
  width: 90vw; }

.canvas__canvas {
  width: 65%;
  position: relative;
  height: 50vh; }

.canvas__controls {
  width: 33%;
  background-color: #d4d4d4;
  height: 50vh;
  position: relative; }

.canvas {
  width: 100%;
  background-color: #d4d4d4;
  height: 50vh;
  display: block;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.canvas__buy {
  width: 100%;
  background-color: #d4d4d4;
  height: 100%;
  max-height: 70vh;
  max-width: 90vw;
  display: block;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.upper-canvas {
  width: 100% !important;
  height: 50vh !important;
  object-fit: cover; }

.lower-canvas {
  width: 100% !important;
  height: 50vh !important;
  object-fit: cover; }

.canvas-container {
  width: 100% !important;
  height: 50vh !important;
  object-fit: cover; }

.canvas__upload--wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.canvas__upload {
  z-index: 100;
  border-radius: 2em;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
  font-family: 'SharpBold', sans-serif;
  margin: 6px;
  line-height: 18px;
  font-size: 14px;
  padding: 0.7em 1.4em;
  border-width: 3px;
  border-style: solid;
  background: transparent;
  border-radius: 0;
  border-color: #A736FF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  transform: translate(0.5em -0.4em);
  transition: transform 0.2s;
  color: #A736FF; }
